.root {
    -fx-background-color: -fx-bg-color;
    -fx-text-fill: -fx-text-color;
}

#titleText {
    -fx-text-fill: -fx-text-color;
}

#searchBarContainer .text-field {
    -fx-border-radius: 12px 0px 0px 12px;
    -fx-border-width: 1px 0px 1px 1px;
}

#searchBarContainer .button {
    -fx-border-radius: 0px 12px 12px 0px;
    -fx-background-radius: 0px 12px 12px 0px;

    -fx-text-fill: -fx-text-color;
    -fx-cursor: hand;
}

#searchBarContainer .button:hover {
    -fx-background-color: #8ecae6;
}