.result-preview-box {
    -fx-background-color: #DDD;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0;
}

.result-list-container {
    -fx-background-color: transparent;
}

#colorView {
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: -fx-input-stroke;
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
}