.chart {
    -fx-padding: 10px;
}
.chart-content {
    -fx-padding: 30px;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0;
}

.result-pane {
    -fx-background-color: -fx-bg-sec;
}

.hbar {
    -fx-pref-height: 0px;

    -fx-border-color: -fx-bg-sec;
    -fx-border-style: solid;
    -fx-border-width: 1px 0px 1px 0px;
}